<nav class="navbar navbar-expand-lg header__navbar">
	<div class="container">
		<a class="navbar-brand header__navbar-brand" href="#"><img class="header_logo" src="img/header/logo.svg" width="172" height="49" alt="Oops image not found" /></a>
		<button
			class="navbar-toggler header__navbar_button"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<img src="img/header/Vector.svg" width="28" height="26" alt="" />
		</button>
		<div class="collapse navbar-collapse header__navbar-collapse" id="navbarSupportedContent">
			<div class="d-flex w-100 justify-content-center header_nav_block">
				<ul class="navbar-nav header__list">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">Цены и сроки </a>
					</li>
					<li class="nav-item">
						<a class="nav-link" aria-current="page" href="#">Услуги</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" aria-current="page" href="#">О компании</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" aria-current="page" href="#">Контакты</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" aria-current="page" href="#">Оформить груз</a>
					</li>
				</ul>
			</div>
			<div class="d-flex justify-content-center header__button_block">
				<button type="button" class="btn btn-warning header__button">Оставить заявку</button>
			</div>
		</div>
	</div>
</nav>
