.usually_questions__form-block {
	background-color: $colorGray;
	border-radius: 15px;
	margin-top: 6%;
	padding: 9% 9% 10% 2%;

	.usually_questions__form {
		h4 {
			margin: 0;
			padding: 0;
		}
		p {
			padding: 0;
			margin: 0;
		}
	}

	input {
		height: 52px;
		border-radius: 10px;
		font-weight: 100;
	}

	textarea {
		border-radius: 10px;
		font-weight: 100;
	}

	.usually_questions__form-btn {
		margin-top: 3%;
		position: static;
		width: 100%;
	}
}
