.element_carousel-indicators {
	margin-left: auto;
	margin-right: auto;
	button {
		background-color: $colorTransparent !important;
		border: 2px solid $colorWhite !important;
		border-radius: 50% !important;
		margin: 0 7px !important;
		width: 10px !important;
		height: 10px !important;
		@include Max_one(991px) {
			margin: 0 13px !important;
			width: 4px !important;
			height: 4px !important;
		}
	}

	.active {
		background-color: $colorWhite !important;
	}
}
