.prospects {
	background-color: $colorGray;
	width: 95%;
	margin: 4.5% auto 0px;
	border-radius: 18px;
	padding: 3% 16% 3% 18%;
	color: $colorWhite;
	position: relative;
	z-index: 1000;

	&__prospects_title {
		margin-top: 1%;
	}

	&__content {
		margin-top: 1%;
	}
}
